.app {
  .app_container {
    background-image: url("../public/backgrounds/app/AppBackground.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    height: 100vh;
  }
}
